.hide{
  display: none;
}

.artMain {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.settings-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
    padding: 1rem;
    align-items: center;
    margin: auto;
}

.art-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 20px;
}

.input-down{
  flex-direction: horizontal;
}

.textarea-container {
  position: relative;
}

.word-count {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: #888;
}


.input-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  resize: none;
}

.input-group textarea:focus {
  outline: none;
  border-color: #2196F3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.input-group label {
  font-size: 18px;
  margin-right: 10px;
  width: 100px;
  text-align: right;
}

.label-multiline {
  white-space: pre-wrap;
}

.input-group textarea {
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 18px;
}

.slider-group input[type="range"] {
  width: 100%;
}

.slider-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.slider-group label {
  font-size: 18px;
  margin-right: 10px;
  text-align: right;
}

.slider-group span {
  font-size: 18px;
}

.buttonContainer {
  padding-left: 150px;
  padding-top: 20px;
}

.DimensionsButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 8px;
  margin-top: 8px;
}

.DimensionsButtons button {
  display: flex;
  align-items: center;
  flex-direction:column;
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #444;
  background-color: #11101d;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.DimensionsButtons button:hover {
  background-color: #222;
  border-color: #666; 
}


.DimensionsButtons button img{
  width: 40px;
  filter: invert(1);
}

.DimensionsButtons button.selected {
  background-color: #555;
  color: white;
  border: 1px solid #fff;
}


.generate-art-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #2196F3;
  color: #FFF;
  border: none;
  cursor: pointer;
}

.generate-art-button:hover {
  background-color: #0D47A1;
}

@media (max-width: 768px) {
  .artMain {
    flex-direction: column;
  }

  .art-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .input-group input[type="text"],
  .slider-group input[type="range"] {
    width: 90%;
  }
}


#modelSelect {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  width: 200px;
  margin: 20px 0px;
}

#modelSelect option {
  font-weight: normal;
}

