.header {
  background-color: #2196F3;
  color: #ffffff;
  padding: 4px;
  text-align: center;
  width: 75%;
  border-radius: 10px;
  margin:0 auto;
  margin-bottom: 2rem;
}

.header-content {
  max-width: 600px;
  margin: 0 auto;
}

.header-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.header-nav {
  margin-top: 20px;
}

.header-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header-links li {
  margin: 0 10px;
}

.header-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.header-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
