.header {
  color: #ffffff;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

.header-content, .header-logo {
  display: flex;
  justify-content: space-between;
}

.header-title{
  font-size: 1rem;
  display: unset;
  cursor: default;
}

.header-mid {
  display: flex;
  align-items: center;
  gap: 10px;
}


.header-mid button {
  background-color: #ffffff;
  color: #2196F3;
  border: 2px solid #2196F3;
  border-radius: 50%;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 6px 8px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.header-mid button:hover {
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.header-mid button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.header-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-links li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0px 8px;
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.header-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.header-links img{
  width: 24px;
  filter: invert(1);
  display: inline-block;
  padding: 0;
}

.header-logo{
  cursor: pointer;
}