body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #1d1d1d;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  user-drag: none;
  overflow: hidden;
}

image {
  user-drag: none;
  user-select: none;
  pointer-events: none;
}

button {
  padding: 16px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 24x;
}
