<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Art</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='artGeneration.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
  <script defer src="{{ url_for('static', filename='apiCall.js') }}"></script>
  <script defer src="{{ url_for('static', filename='imageUpdate.js') }}"></script>
  </head>

<body>
    <header class="header">
      <div class="header-content">
        <h1 class="header-title">Art App</h1>
        <nav class="header-nav">
          <ul class="header-links">
            <li><a href="{{ url_for('home') }}">AI Chat</a></li>
            <li><a href="{{ url_for('art') }}">AI Art</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <main class="artMain">
      <div class="art-container">
        <h2>Generated Art</h2>
        <img id="generated-art" src="" alt="Generated Art">
        <div class="progress-container">
          <div class="progress-bar" id="progress-bar"></div>
          <div class="progress-label" id="progress-label"></div>
          <div class="estimated-time" id="estimated-time"></div>
        </div>
      </div>
        
        <div class="settings-container">
            <h2>Settings</h2>
            
            <div class="input-group">
                <label for="prompt-input">Prompt:</label>
                <input type="text" id="prompt-input" placeholder="Enter prompt text">
            </div>
            
            <div class="input-group">
              <label for="negative-prompt-input">Negative Prompt:</label>
              <input type="text" id="negative-prompt-input" placeholder="Enter negative prompt text">
            </div>
            
          <div class="input-group">
            <label for="width-input">Width:</label>
            <input type="text" id="width-input" value="512">
          </div>
          
          
          <div class="input-group">
            <label for="height-input">Height:</label>
            <input type="text" id="height-input" value="512">
          </div>
          
            
            <div class="slider-group">
              <label for="num-inference-steps-slider">Number of Inference Steps:</label>
              <input type="range" id="num-inference-steps-slider" min="1" max="50" value="20" step="1">
              <span id="num-inference-steps-value">20</span>
          </div>
          
          <div class="slider-group">
              <label for="guidance-scale-slider">Guidance Scale:</label>
              <input type="range" id="guidance-scale-slider" min="1" max="20" value="7" step="1">
              <span id="guidance-scale-value">7</span>
          </div>

          <div class="slider-group">
              <label for="batchsize-slider">Batch Size:</label>
              <input type="range" id="batchsize-slider" min="1" max="10" value="1" step="1">
              <span id="batchsize-value">1</span>
          </div>
            
          <div class="input-group">
            <label for="seed-input">Seed:</label>
            <input type="text" id="seed-input" value="-1">
          </div>
          
          <div class="slider-group">
            <label for="eta-slider">Eta:</label>
            <input type="range" id="eta-slider" min="0.1" max="2.0" value="0.1" step="0.1">
            <span id="eta-value">0.1</span>
        </div>
        
            </div>
            
            <button id="generate-art-button" onclick="generateArt()" >Generate Art</button>
          </div>
    </main>
</body>
</html>
