<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Art</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
  <script defer src="{{ url_for('static', filename='apiCall.js') }}"></script>
  <script defer src="{{ url_for('static', filename='imageUpdate.js') }}"></script>
</head>

<body>
    <header class="header">
      <div class="header-content">
        <h1 class="header-title">Art App</h1>
        <nav class="header-nav">
          <ul class="header-links">
            <li><a href="{{ url_for('index') }}">AI Chat</a></li>
            <li><a href="{{ url_for('art') }}">AI Art</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <div class="container">
        <div class="art-container">
            <h2>Generated Art</h2>
            <img id="generated-art" src="" alt="Generated Art">
        </div>
    </div>
</body>
</html>
